# WordPress Core
wp-config.php
wp-content/backup-db/
wp-content/backups/
wp-content/upgrade/
wp-content/cache/

# Logs de error (Lo que te salía en el status)
*.log
wp-content/debug.log
wp-content/merc_logs/*.log
error_log
.htaccess
web.config
robots.txt
# Archivos de sistema y temporales
.DS_Store
thumbs.db
node_modules/
.env
.vscode/

# Elementor y archivos generados
wp-content/uploads/elementor/

# Ignorar PDFs generados por WPCargo
wp-content/plugins/wpcargo-frontend-manager/admin/includes/file-container/*.pdf

# Ignorar todas las subidas de medios (Imágenes, videos, etc)
wp-content/uploads/20*
wp-content/uploads/elementor/

# Bloquear backups y archivos de migración
wp-content/ai1wm-backups/
wp-content/hostinger-migration-archives/
*.sql
*.gz
*.hstgr
*.tar
*.zip

# LiteSpeed Cache (Culpable de los avatares y CSS temporales)
wp-content/litespeed/

# Archivos de respaldo y temporales
*.bak
*.sql
*.data
scan_server.php
# Archivos basura de Windows
*:Zone.Identifier
desktop.ini
thumbs.db